<div class="bb-search">
    <div class="search-string">
        <label>
            Поиск:
            <input ng-model="searchStr" ng-model-options="{debounce:500}">
        </label>
    </div>
    <div class="search-opts">
        <div class="search-option" ng-repeat="(key, option) in searchOpts" >
            {{option.name}}:
            <ul>
                <li class="search-option-item" ng-repeat="(itemKey, item) in option.items">
                    {{item}}{{$last?'.':', '}}(<button ng-click="bbSearch.searchOptsDel(key, itemKey)" >)
                </li>
            </ul>
        </div>
    </div>
    <div class="search-bb">

    </div>
</div>